VITE_SUPABASE_URL=https://zjrhxblbwdbfiwfgkxto.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inpqcmh4Ymxid2RiZml3ZmdreHRvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyNDY1MDIsImV4cCI6MjA4ODgyMjUwMn0.dqY9lJNwcAm8zhwRndohtx5InZ1BG1IpcUJ9hFce0II  


